$primaryColor: #6c5ffc;
$inputColor: #74829c;
$inputErrorColor: #c60000;


$primaryFont: "IBM Plex Sans";
$decorationFont: "Orbitron";
$textColor: #282f53;

$errorColor: #c60000;
$successColor: #37b70c;
$infoColor: #e2c036;