@import '../src/assets/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: $primaryFont;
  margin: 0;
  padding: 0;
}

a {
  color: $primaryColor;
  text-decoration: none;

}


.App {
  background-color: aqua;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}